<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel = "stylesheet" href = "
    https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel ="stylesheet" href  = "https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script src = "https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src = "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src = "https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Survey Results</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/demo/1">Demographics</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/tech/1">Technology</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/work/1">Work</a>
      </li>
 <!--      <li class="nav-item active">
        <a class="nav-link" href="/pred">Predictions</a>
      </li> -->
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/pop">Pop Quiz</a>
        </li>
    </ul>
  </div>
</nav>

<div class = "container">
	{% block content %} {% endblock %}
	
	
</div>

</body>
</html>