{% extends "base.html" %}

{% block content %}
			<h1 class = "mt-5"> Education </h1>
            <h2 class="mt-5 ">Developer Survey Results</h1>
            <p class="lead">Where do People have learnt to Code</p>




<br>
<div id="graph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>
Highcharts.chart('graph', {
  chart: {
    type: 'column'
  },
  title: {
    text: "Where do people learn to code"
  },
  xAxis: {
    categories: ['School or University','Self taught','Accelerated training',"Don't know"]
  },
  credits: {
    enabled: false
  },
  series: [{
    name: 'Percentage of People',
    data: [{{univ[0][1] | round(2)}},{{selft[0][1] | round(2)}},{{accel[1][1] | round(2)}},{{dont[1][1] | round(2)}} ]
  }]
});

</script>

<br>
<ul class="list-group">
  <li class="list-group-item">Over {{univ[0][1] | round(2)}}% of people learnt to code from School or University.</li>
  <li class="list-group-item">Over {{selft[0][1] | round(2)}}% of people learn to code by self teaching.</li>
  <li class="list-group-item">Over {{accel[1][1] | round(2)}}% of people learn to code from accelerated training programmes.</li>
  <li class="list-group-item">Over {{dont[1][1] | round(2)}}% of people don't know how to code.</li>
</ul>


<br>
 <ul class="pagination">
  <li class="page-item"><a class ="page-link" href="\demo\3\">Previous</a></li>
  <li class="page-item"><a class ="page-link" href="\demo\5\">Next</a></li>
</ul> 

{% endblock %}