{% extends "base.html" %}


{% block title %} Developer Survey Results {% endblock %}
{% block content %}

	<br>
	<br>
	<h1 align = "center" margin = 1> Developer Survey Results </h1>
	<br>
	<br>
	<br>

	<h3>  Demographics Section </h3>
	<p> The demographics sections shows the data distribution by attributes like age, country, gender and profession.  
		This gives us an idea about the kind of respondents and the helps us better understand the distribution 
		of other attributes based on these demographics. </p>
		<br>
	<div class="list-group">
		<a href="/demo/1/" class="list-group-item list-group-item-action"> Total no. of Participants Country Wise </a>
  		<a href="/demo/2/" class="list-group-item list-group-item-action">Total no. of Participants Age group and Gender Wise</a>
  		<a href="/demo/3/" class="list-group-item list-group-item-action">Shows the result of Age at which People began coding and Gender Wise</a>
  		<a href="/demo/4/" class="list-group-item list-group-item-action">Preferred Way of Learning to code across</a>
  		<a href="/demo/5/" class="list-group-item list-group-item-action">Where do People Visit online to Learn</a>
	</div>
	<br>
	<h3> Technology Section </h3>
	<p> The technology sections show us the use of a variety of programming languages or frameworks and how
		this varies across the demographics. </p>
	<br>
		<div class="list-group">
		<a href="/demo/1/" class="list-group-item list-group-item-action"> Percentage of Developers Using a Language Age Group Wise</a>
  		<a href="/demo/2/" class="list-group-item list-group-item-action">Total no. of Participants Age group and Gender Wise</a>
  		<a href="/demo/3/" class="list-group-item list-group-item-action">Shows the result of Age at which People began coding and Gender Wise</a>
  		<a href="/demo/4/" class="list-group-item list-group-item-action">Preferred Way of Learning to code across</a>
  		<a href="/demo/5/" class="list-group-item list-group-item-action">Where do People Visit online to Learn</a>
	</div>
	<h3> Work Section </h3>
	<p>The Work section shows insights into the hiring procedures and challenges faced by the hiring managers.
		Other Functionalities. </p>
	
	<br>
	<br>
	<br>



{% endblock %}
