{% extends "base.html" %}


{% block title %} Developer Survey Results {% endblock %}
{% block content %}

	<br>
	<br>
	<h1 align = "center" margin = 1> Welcome to Developer Survey Results </h1>
	<br>
	<br>
	<br>

	<h3> To View Results By Demographics Click here </h3>
	<br>
	<h3> To View Results By Technology Click here </h3>
	<br>
	<h3> To View Results By Work and Managers Click here </h3>
	<br>
	<h3> To View Prediction Results Click here </h3>
	
	<br>
	<br>
	<br>

	<h4 align = "center"> See how correct you are ! To have a Pop Quiz Click Here </h4>


{% endblock %}
