{% extends "base.html" %}


{% block title %} Developer Survey Results {% endblock %}
{% block content %}

	<br>
	<br>
	<h1 align = "center" margin = 1> Developer Survey Results </h1>
	<br>
	

	<h3>  Demographics Section </h3>
	<br>
	<p> The demographics sections shows the data distribution by attributes like age, country, gender and profession.  
		This gives us an idea about the kind of respondents and the helps us better understand the distribution 
		of other attributes based on these demographics. </p>
		<br>
	<div class="list-group">
		<a href="/demo/1/" class="list-group-item list-group-item-action list-group-item-info"> Total no. of Participants Country Wise </a>
  		<a href="/demo/2/" class="list-group-item list-group-item-action list-group-item-info">Total no. of Participants Age group and Gender Wise</a>
  		<a href="/demo/3/" class="list-group-item list-group-item-action list-group-item-info">Shows the result of Age at which People began coding and Gender Wise</a>
  		<a href="/demo/4/" class="list-group-item list-group-item-action list-group-item-info">Preferred Way of Learning to code across</a>
  		<a href="/demo/5/" class="list-group-item list-group-item-action list-group-item-info">Where do People Visit online to Learn</a>
	</div>
	<br>
	<h3> Technology Section </h3>
	<br>
	<p> The technology sections show us the use of a variety of programming languages or frameworks and how
		this varies across the demographics. </p>
		<br>
		<div class="list-group">
		<a href="/tech/1/" class="list-group-item list-group-item-action list-group-item-info"> Percentage of Developers Using a Language Age Group Wise</a>
		<a href="/tech/6/" class="list-group-item list-group-item-action list-group-item-info"> Percentage of Developers Using a Framework Age Group Wise</a>
  		<a href="/tech/2/" class="list-group-item list-group-item-action list-group-item-info">Percentage of Developers using a Language Across Different Industries</a>
  		<a href="/tech/3/" class="list-group-item list-group-item-action list-group-item-info">Love Hate Index of Various Programming languages </a>
  		<a href="/tech/4/" class="list-group-item list-group-item-action list-group-item-info">Love Hate Index of Different Frameworks</a>
  		<a href="/tech/5/" class="list-group-item list-group-item-action list-group-item-info">Percent of Hiring Manager Looking for the Framework vs Percent of Developers that know</a>
  		<a href="/tech/7/" class="list-group-item list-group-item-action list-group-item-info">Programming Language Trend Know vs Will Learn</a>
	</div>
	<br>
	<h3> Work Section </h3>
	<br>
	<p>The Work section shows insights into the hiring procedures and challenges faced by the hiring managers.
		Other Functionalities. </p>
	
	<br>
			<div class="list-group">
		<a href="/work/1/" class="list-group-item list-group-item-action list-group-item-info"> Preference of Developer Candidates When Searching for a Job</a>
		<a href="/work/2/" class="list-group-item list-group-item-action list-group-item-info"> Core Competencies Hiring Managers Look for</a>
  		<a href="/work/3/" class="list-group-item list-group-item-action list-group-item-info"> Qualifications Hiring Managers Look for</a>
  		<a href="/work/4/" class="list-group-item list-group-item-action list-group-item-info">Biggest Challenges Faced by Hiring Managers While Hiring Talent</a>
  		<a href="/work/5/" class="list-group-item list-group-item-action list-group-item-info">Assesment Tools Employers Use</a>
  		<a href="/work/6/" class="list-group-item list-group-item-action list-group-item-info">Emerging Technology Voted By Developers</a>
	</div>
	<br>
	<br>



{% endblock %}
