{% extends "base.html" %}

{% block content %}
	

	<br>
	<h1 align = "center"> Pop Quiz! </h1>
	<br>


      <form action = "/pop/" method = "POST">
      	<div class = "form-group row">
      	<div class = "col xs-2">
      		<p>First Name <input type = "text" class = "form-control" name = "FirstName" placeholder="John" /></p>
      	</div>

      	<div class = "col xs-2">
      		<p>Last Name <input type = "text" class = "form-control" name = "LastName" placeholder="Doe" /></p>
      	</div>

      	<div class = "col xs-2">
      		<p>Email Id <input type = "text" class = "form-control" name = "Email" placeholder="Johnoe@gmail.com" /></p>
      	</div>
      </div>

		  <div class="form-group">
		<label for="exampleFormControlSelect1">Q1. Which language is used by most of the developers?</label>
		<select class="form-control" id="exampleFormControlSelect1" name = "language">
			<option selected> </option>
		  <option>Python</option>
		  <option>JavaScript</option>
		  <option>Haskell</option>
		  <option>C++</option>
		  <option>Java</option>
		</select>
		</div>

		 <div class="form-group">
		<label for="exampleFormControlSelect1">Q2. Which Framework is used by most of the developers?</label>
		<select class="form-control" id="exampleFormControlSelect1" name = "framework">
			<option selected> </option>
		  <option>Django</option>
		  <option>Spring</option>
		  <option>AngularJS</option>
		  <option>ExpressJS</option>
		  <option>React</option>
		</select>
		</div>


		 <div class="form-group">
		<label for="exampleFormControlSelect1">Q3. Which language is loved by most of the developers?</label>
		<select class="form-control" id="exampleFormControlSelect1" name = "lolanguage">
			<option selected> </option>
		  <option>Python</option>
		  <option>JavaScript</option>
		  <option>Haskell</option>
		  <option>C++</option>
		  <option>Java</option>
		</select>
		</div>

		 <div class="form-group">
		<label for="exampleFormControlSelect1">Q4. Which Framework is loved by most of the developers?</label>
		<select class="form-control" id="exampleFormControlSelect1" name = "loframework">
		<option selected> </option>
		  <option>Django</option>
		  <option>Spring</option>
		  <option>AngularJS</option>
		  <option>ExpressJS</option>
		  <option>React</option>
		</select>
		</div>

		 <div class="form-group">
		<label for="exampleFormControlSelect1">Q5. What developer candidate want most when searching for the job?</label>
		<select class="form-control" id="exampleFormControlSelect1" name = "devjob">
		<option selected> </option>
		  <option>Company Mission</option>
		  <option>Professional Growth and Learning</option>
		  <option>Good work/life balance</option>
		  <option>Smart people /team</option>
		  <option>Proximity to where you live</option>
		</select>
		</div>

		 <div class="form-group">
		<label for="exampleFormControlSelect1">Q6. What is the most looked Core Competencies by Hiring Manager?</label>
		<select class="form-control" id="exampleFormControlSelect1" name = "corecompt">
		<option selected> </option>
		  <option>Programming language Proficiency</option>
		  <option>Problem Solving</option>
		  <option>Debugging</option>
		  <option>Frameworks Proficiency</option>
		  <option>Performance Optimization</option>
		</select>
		</div>

		 <div class="form-group">
		<label for="exampleFormControlSelect1">Q7. What is the biggest Challenge when hiring faced by Hiring Managers?</label>
		<select class="form-control" id="exampleFormControlSelect1" name = "corecompt">
		<option selected> </option>
		  <option>Hard to Access skills before onsite</option>
		  <option>Time Consuming Interviews</option>
		  <option>Not enough Talent</option>
		  <option>Calibrating the job description</option>
		  <option>Competition from other companies</option>
		</select>
		</div>

		 <div class="form-group">
		<label for="exampleFormControlSelect1">Q8.Assesment tools which employers prefer the most when hiring?</label>
		<select class="form-control" id="exampleFormControlSelect1" name = "corecompt">
		<option selected> </option>
		  <option>Referrals</option>
		  <option>Resume Screening</option>
		  <option>Problem Solving,logic challenges</option>
		  <option>Remote,live interviewing tool</option>
		  <option>HackerRank coding challenges</option>
		</select>
		</div>


         
         <p><input type = "submit" class = "btn btn-primary" value = "submit" /></p>

      </form>

{% endblock %}