{% extends "base.html" %}


{% block content %}
<br>
<h1> Showing results of {{namefor[0]}} {{namefor[1]}} </h1>
<br>
<ul class="list-group">
{% for row in results %}

{% if 'no' == row[0]| string()  %}

<li class="list-group-item list-group-item-action list-group-item-danger">Your answer {{row[1]}} is wrong, The correct answer is {{row[2]}} <a href="{{row[3]}}"> For more details go to </a> </li>

{% elif '' == row[1] | string() %}
<li class="list-group-item list-group-item-action list-group-item-secondary">Didn't attempt , The correct answer is {{row[0]}} <a href="{{row[2]}}"> For more details go to </a> </li>


{% else %}

<li class="list-group-item list-group-item-action list-group-item-success">Your answer {{row[0]}} is right. <a href="{{row[1]}}"> For more details go to </a></li>
{% endif  %}
{% endfor %}
</ul>


{% endblock %}