{% extends "base.html" %}

{% block content %}

<br>
<div id="graph" style="min-width: 310px; height: 600px; margin: 0 auto"></div>

<script>

Highcharts.chart('graph', {
  chart: {
    type: 'column'
  },
  title: {
    text: 'Programming language learning Trend'
  },
  xAxis: {
    categories: {{totf | safe}}
  },
  credits: {
    enabled: false
  },
  series: [{
    name: 'knows',
    data: {{totd | safe}}
  }, {
    name: 'will learn',
    data: {{totm | safe}}
  }, ]
});

</script>

<br>
 <ul class="pagination">
  <li class="page-item"><a class ="page-link" href="\tech\5\">Previous</a></li>
</ul>

{% endblock %}